<h1>Articles</h1><br>

<h1><%= @article.title%></h1>
<h2><%= @article.content%></h2>


<a href="/articles/<%= @article.id %>/edit">Edit <%= @article.title%></a>

<form method="post" action="/articles/<%=@article.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>